node_modules
dist
# TypeScript build info
**/.tsbuildinfo

# Coverage and editor state
coverage/
.vscode/
.turbo
.DS_Store

# yarn
.yarn/*
!.yarn/releases
!.gitkeep

# pnpm
node_modules/
node_modules

# Temporary files created during packaging
packages/core/ts/README.md
packages/semanticencoding/ts/README.md
packages/*/ts/*.tgz
./*.t?gz
